body {
    width: 1400px;
    margin: auto;
}

.header{
    display:flex;
    background:green;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.menu{
    display: flex;
}

section{
    width :1400px;
    height: 200px;
    padding: 23px;
    
}

section section{
    width: 420px;
    height: 200px;
    float: left;
    
}

img{
    float: left;
    margin-top: 30px;
}

h1{
    color: white;
}

h2{
    width: 150px;
    float: left;
    margin-bottom: 0px;
}

p{
    float: left;
    width: 145px;
}

