.body {
    width: 1400px;
    background-color: green;
    margin: auto;
}
.header {
    display:flex;
    background:#1b6632;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.img-maior {
    margin-top: 125px;
}

.personagem{
    color: white;
}

.texto p{
    background: #9bf7a0;
}

.footer {
    background:#1b6632;
}

nav{
    clear: both;
}
