@charset "utf-8";
/* quem somos*/
.qm1{position: absolute;
    width: 230px;
    height: 234px;
    left: 84px;
    top: 245px;
    
}

.qm2{position: absolute;
    width: 230px;
    height: 234px;
    left: 84px;
    top: 490px;}

.qm3{position: absolute;
    width: 230px;
    height: 270px;
    left: 84px;
    top:  984px;}

.qm4{position: absolute;
    width: 226px;
    height: 237px;
    left: 84px;
    top: 735px;
    }

.th {
    text-align: center;
}
.img10{position: absolute;
width: 110px;
height: 80px;
left: 85px;
top: 865px;}

/*quadrinhos*/
.img7 {position: absolute;
    width: 300px;
    height: 460px;
    left: 136px;
    top: 330px;}
.img8{position: absolute;
    width: 300px;
    height: 460px;
    left: 554px;
    top: 327px;}
.img9{position: absolute;
    width: 300px;
    height: 460px;
    left: 977px;
    top: 324px;
    }
body{background: 
    #EDFB97;}


