/*body{
    background-color:;

}*/
section{
     float: left;
         
}

article{
    height: 850px;
   
}

.header{
    background: rgb(190, 82, 82);
}

.personagens{
  
    width: 100px;
    height: 180px;
    padding: 45px;
    bottom: 50px;
}
#personagem-margem-esquerda{
    margin-left: 315px;
}
#personagem-margem-direita{
    margin-right: 315px;
}

.personagens img{
    border-radius: 50px;
}
.diversão{

    width: 200px;
    padding: 30px;
    bottom: 50px;

}
#diversao-margem-esquerda{
    margin-left: 165px;
}
#diversao-margem-direita{
    margin-right: 165px;
}

.diversão2{
  
    width: 202px;
    padding-left: 17px;
    padding-right: 11px;
    bottom: 50px;
}