body {
    width: 1400px;
    margin: auto;
    
}

.header{
    display:flex;
    background:green;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.menu{
    display: flex;
}

article{
    width :1400px;
    height: 1000px;
    padding-left: 80px;
    border-color: black;
    
}

article section{
    width: 420px;
    height: 200px;
    float: left;
}

img{
    float: left;
    margin-top: 30px;
}

h1{
    color: black;
}

h2{
    width: 150px;
    float: left;
}

p{
    float: left;
    width: 145px;
}

