.body{
    width: 1400px;
    background: #fafa04;
    margin: auto;
    
}
   
  
.header{
       display:flex;
       background:#f80525;
       justify-content: space-between;
       align-items: center;
       padding: 20px;
       
}

.personagem{
    color: white;
}
.img-maior{
    margin-bottom: 100px;
}
.texto p{
    background: #e49696;
}

.footer {
    background: #f03d3d;
}

nav{
    clear: both;
}
