.header{
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
    width: 1400px;
    background-color: brown;
}
.menu ,li {
    display: flex;
    font-size: 1.2rem;
    font-family: BlueNight;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.menu li {
       margin-left: 25px;
}
   
.menu li a {
       padding: 10px;
}


.fo{
    position: absolute;
    width: 50px;
    height: 51px;
    left: 550px;
    top: 901px;
}


.fot{
    
    
    position: absolute;
    width: 50px;
    height: 51px;
    left: 620px;
    top: 901px;
    
}

.ff{
    position: absolute;
width: 50px;
height: 51px;
left: 690px;
top: 901px;
}

.ffy{position: absolute;
    width: 50px;
    height: 51px;
    left: 760px;
    top: 901px;}

.qs{position: absolute;
    width: 100px;
    height: 60px;
    left: 77px;
    top: 890px;}



