.body {
    background: #f0252f;
    
}

body, ul, li, p {
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
       
}

a {
    text-decoration: none;
    color: white;

}

.headerpers {
 display:flex;
 background:#f03d3d;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 
}

.menupers {
 display: flex;

}

.menupers li {
    display: flex;
    margin-left: 25px;

}

.menupers li a {
    display: block;
    padding: 10px;

}

.primeiraimagem{
 display: inline-block;
 width: 300px;
 height: 300px;
 padding: 10px;
 margin-top: 125px;
 

}
.segundaimagem {
 display: inline-block;
 width: 300px;
 height: 300px;
 padding: 10px;
 margin-top: 125px;

}

.terceiraimagem {
 display: inline-block;
 width: 300px;
 height: 300px;
 padding: 10px;
 margin-top: 125px;

}

.quartaimagem {
 display: inline-block;
 width: 300px;
 height: 300px;
 padding: 30px;
 margin-top: 125px;
 

}



footer  {
    display:flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.primeirosbotoes {
    display: flex;
}
   
.primeirosbotoes li {
       display: flex;
       margin-left: 25px;
}
   
.primeirosbotoes li a {
       display: flex;
       padding: 10px;
       margin-left: 150px;
}
.footerpers {
    background:#f03d3d;

}

.header{
    background: #f03d3d;
}

article{
    padding-left: 100px;
    padding-right: 100px;
}



